body {
  margin: 20px;
  background-color: #ECECEC;
}
.content {
  width: 550px;
  line-height: 45px;
  font-size: 18px;
}
.options-text {
  float: left;
  width: 400px;
}
.options-input {
  clear: right;
}
.options-button {
  text-align: center;
  margin-top: 30px;
}
.options-button > button {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 1.5rem 0 1.5rem;
}
.options-button > button:hover {
  background-color: #2bbbad;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.options-button > button:active {
  letter-spacing: 2px;
}
.onClick {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -moz-animation: rotating 2s 0.25s linear infinite;
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}
.onClick:after {
  content: "";
}
.onClick:hover {
  color: #1ECD97;
  background: white;
}
.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.status {
  line-height: 70px;
  margin: 0 auto;
  width: 120px;
}
